<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/navbar.css" />
    <link rel="stylesheet" href="../assets/css/articles.css" />
    <title>Ander page</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="container-fluid">
      <div class="row header">
        <div class="col-6">
          <div class="home ms-4 ms-lg-5">
            <h1 class="fs-4">Ander Wang</h1>
            <span>&nbsp;|&nbsp;Back-end Engineer</span>
          </div>
        </div>
        <div class="col-6">
          <ul class="menu mb-0">
            <li><a href="../index.html">About</a></li>
            <li><a href="javascript: scrollToRange(990)">Experiences</a></li>
            <li><a href="javascript: scrollToRange(1799)">Projects</a></li>
            <li><a class="active" href="./views/articles.html">Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="height-66px"></div>
    <!-- main content -->
    <div class="devsite-article-body clearfix devsite-no-page-title">
      <article id="cloud-site">
        <cloudx-jump-menu
          label="Compute Engine documentation"
          prebuilt=""
          style="margin-left: 180px;"
        >
          <div class="cloud-menu-content">
            <a href="#" class="cloud-jump-menu__toggle">
              Compute Engine documentation
              <i class="material-icons" aria-hidden="true" translate="no"></i>
            </a>
            <div class="cloud-jump-menu__links">
              <h1
                class="cloud-subhead"
                id="compute-engine-documentation"
                data-text="Compute Engine documentation"
                tabindex="-1"
              >
                Compute Engine documentation
              </h1>
              <div class="cloud-jump-menu__links">
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#docs"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Overview"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Overview</div>
                </a>
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#training-and-tutorials"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Training and tutorials"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Training and tutorials</div>
                </a>
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#use-cases"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Use cases"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Use cases</div>
                </a>
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#code-samples"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Code samples"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Code samples</div>
                </a>
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#videos"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Videos"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Videos</div>
                </a>
              </div>
            </div>
          </div>
        </cloudx-jump-menu>
        <div
          class="cloud-jump-content cloud-jump-section"
          id="docs"
          data-cloud-main-text="Overview"
          tabindex="-1"
        >
          <div class="cloud-section cloud-section--no-padding-bottom cloud-section__header--small">
            <div class="page-intro">
              <h2
                class="cloud-jump-section"
                id="training-and-tutorials"
                data-cloud-main-text="Training and tutorials"
                data-text="Training and tutorials"
                tabindex="-1"
              >
                Training and tutorials
              </h2>
              <p>
                Compute Engine is a
                <a href="/docs/overview/cloud-platform-services#computing-hosting" track-type="landingPage" track-name="introOtherServices">
                  computing and hosting service
                </a>
                that lets you create and run virtual machines on Google
                infrastructure. Compute Engine offers scale, performance, and
                value that lets you easily launch large compute clusters on
                Google's infrastructure. There are no upfront investments, and
                you can run thousands of virtual CPUs on a system that offers
                quick, consistent performance.
                <a href="/compute/docs/instances" track-type="landingPage" track-name="introLearnMore">Learn more</a>
              </p>
            </div>
          </div>
          <div class="cloud-section--small cloud-section--no-padding-top hero-section">
            <div class="cloud-grid--alternate cloud-copy__inner cloud-copy--three-column">
              <div class="cloud-grid--alternate cloud-grid--row-gap cloud-grid__col is-12 is-12__large">
                <div class="cloud-grid__col is-6 is-4__large">
                  <div class="cloud-list-card cloud-elevation-z0">
                    <div class="cloud-list-card__content">
                      <div class="cloud-list-card__header-border">
                        <h4 class="cloud-list-card__subhead cloud-body-text" id="guides" data-text="Guides" tabindex="-1">
                          Guides
                        </h4>
                      </div>
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/machine-resource"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="0"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/machine-resource"
                            track-metadata-child_headline="Machine families resource and comparison guide"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                Machine families resource and comparison guide
                              </p>
                            </div>
                          </a>
                        </li>

                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/choose-compute-deployment-option"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="1"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/choose-compute-deployment-option"
                            track-metadata-child_headline="Choose a deployment strategy"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                Choose a deployment strategy
                              </p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/instances/create-start-instance"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="2"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/instances/create-start-instance"
                            track-metadata-child_headline="Create and start a VM"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                Create and start a VM
                              </p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/instances/ssh"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="3"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/instances/ssh"
                            track-metadata-child_headline="About SSH connections"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                About SSH connections
                              </p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/import"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="4"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/import"
                            track-metadata-child_headline="Choose a migration path"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                Choose a migration path
                              </p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/disks/data-protection"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="5"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/disks/data-protection"
                            track-metadata-child_headline="Data protection options"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                Data protection options
                              </p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/instances/instance-life-cycle"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="6"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/instances/instance-life-cycle"
                            track-metadata-child_headline="VM instance lifecycle"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                VM instance lifecycle
                              </p>
                            </div>
                          </a>
                        </li>
                        <li
                          class="cloud-list-card__list-item cloud-list-card__list-item--static"
                        >
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="cloud-list-card__footer">
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item l-pad-left-4">
                          <a
                            href="/compute/docs/instances"
                            class="cloud-button cloud-button--flat"
                            track-type="landingPage"
                            track-name="cardLinkMore"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/instances"
                            track-metadata-modifier="flat"
                            track-metadata-icon="internal"
                            track-metadata-anchor_text="More"
                            track-metadata-href="/compute/docs/instances"
                          >
                            More
                            <span class="cloud-button__icon--no-wrap"
                              >&nbsp;<i
                                class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                                aria-hidden="true"
                                translate="no"
                                >arrow_forward</i
                              ></span
                            ></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cloud-grid__col is-6 is-4__large">
                  <div class="cloud-list-card cloud-elevation-z0">
                    <div class="cloud-list-card__content">
                      <div class="cloud-list-card__header-border">
                        <h4
                          class="cloud-list-card__subhead cloud-body-text"
                          id="reference"
                          data-text="Reference"
                          tabindex="-1"
                        >
                          Reference
                        </h4>
                      </div>
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/gcloud-compute"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="0"
                            track-metadata-category="Reference"
                            track-metadata-eventdetail="/compute/docs/gcloud-compute"
                            track-metadata-child_headline="gcloud compute command-line tool"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                gcloud compute command-line tool
                              </p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/api/libraries"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="1"
                            track-metadata-category="Reference"
                            track-metadata-eventdetail="/compute/docs/api/libraries"
                            track-metadata-child_headline="Client libraries"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Client libraries</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/reference/rest/v1"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="2"
                            track-metadata-category="Reference"
                            track-metadata-eventdetail="/compute/docs/reference/rest/v1/"
                            track-metadata-child_headline="REST API"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">REST API</p>
                            </div>
                          </a>
                        </li>
                        <li
                          class="cloud-list-card__list-item cloud-list-card__list-item--static"
                        >
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="cloud-list-card__footer">
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item l-pad-left-4">
                          <a
                            href="/compute/docs/apis"
                            class="cloud-button cloud-button--flat"
                            track-type="landingPage"
                            track-name="cardLinkMore"
                            track-metadata-category="Reference"
                            track-metadata-eventdetail="/compute/docs/apis"
                            track-metadata-modifier="flat"
                            track-metadata-icon="internal"
                            track-metadata-anchor_text="More"
                            track-metadata-href="/compute/docs/apis"
                          >
                            More
                            <span class="cloud-button__icon--no-wrap"
                              >&nbsp;<i
                                class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                                aria-hidden="true"
                                translate="no"
                                >arrow_forward</i
                              ></span
                            ></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cloud-grid__col is-6 is-4__large">
                  <div class="cloud-list-card cloud-elevation-z0">
                    <div class="cloud-list-card__content">
                      <div class="cloud-list-card__header-border">
                        <h4
                          class="cloud-list-card__subhead cloud-body-text"
                          id="resources"
                          data-text="Resources"
                          tabindex="-1"
                        >
                          Resources
                        </h4>
                      </div>
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/pricing"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="0"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/pricing"
                            track-metadata-child_headline="Pricing"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Pricing</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/quotas"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="1"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/quotas"
                            track-metadata-child_headline="Quotas and limits"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Quotas and limits</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/release-notes"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="2"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/docs/release-notes"
                            track-metadata-child_headline="Release notes"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Release notes</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/support"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="3"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/docs/support"
                            track-metadata-child_headline="Support"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Support</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/samples-and-videos"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="4"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/docs/samples-and-videos"
                            track-metadata-child_headline="Samples &amp; videos"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Samples &amp; videos</p>
                            </div>
                          </a>
                        </li>
                        <li
                          class="cloud-list-card__list-item cloud-list-card__list-item--static"
                        >
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="cloud-list-card__footer">
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item l-pad-left-4">
                          <a
                            href="/compute/docs/resources"
                            class="cloud-button cloud-button--flat"
                            track-type="landingPage"
                            track-name="cardLinkMore"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/docs/resources"
                            track-metadata-modifier="flat"
                            track-metadata-icon="internal"
                            track-metadata-anchor_text="More"
                            track-metadata-href="/compute/docs/resources"
                          >
                            More
                            <span class="cloud-button__icon--no-wrap"
                              >&nbsp;<i
                                class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                                aria-hidden="true"
                                translate="no"
                                >arrow_forward</i
                              ></span
                            ></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="cloud-section--small cloud-section--border technical-architectures cloud-section--no-padding-top"
          >
            <h2
              class="cloud-jump-section"
              id="training-and-tutorials"
              data-cloud-main-text="Training and tutorials"
              data-text="Training and tutorials"
              tabindex="-1"
            >
              Training and tutorials
            </h2>
            <p class="cloud-section__header--xsmall">
              Try Compute Engine tutorials, courses, and self-paced training
              from
              <dfn
                data-title="Google Cloud Skills Boost offers courses, hands-on labs, and badges to build and validate your cloud skills."
              >
                Google Cloud Skills Boost</dfn
              >.
            </p>
            <div
              class="cloud-card__container cloud-card__container--3up cloud-card__container--left-aligned"
            >
              <div class="cloud-card cloud-elevation-z1">
                <div class="cloud-card__content--has-footer">
                  <span class="cloud-chip cloud-chip--blue-bg cloud-card__chip">
                    Training
                  </span>
                  <p class="cloud-card__headline cloud-headline5">
                    VM migration hands-on lab
                  </p>
                  <p class="cloud-body-text__small">
                    Get hands-on practice with Google's current solution set for
                    VM assessment, planning, migration, and modernization.
                  </p>
                </div>
                <div class="cloud-card__footer">
                  <a
                    href="https://www.cloudskillsboost.google/quests/87"
                    class="cloud-button cloud-button--flat"
                    track-type="landingPage"
                    track-name="cardLink"
                    track-metadata-position="0"
                    track-metadata-link-label="Learn more"
                    track-metadata-chip-label="Training"
                    track-metadata-eventdetail="https://www.cloudskillsboost.google/quests/87"
                    track-metadata-modifier="flat"
                    track-metadata-icon="internal"
                    track-metadata-anchor_text="Learn more"
                    track-metadata-href="https://www.cloudskillsboost.google/quests/87"
                  >
                    Learn more
                    <span class="cloud-button__icon--no-wrap"
                      >&nbsp;<i
                        class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                        aria-hidden="true"
                        translate="no"
                        >arrow_forward</i
                      ></span
                    ></a
                  >
                </div>
              </div>
              <div class="cloud-card cloud-elevation-z1">
                <div class="cloud-card__content--has-footer">
                  <span class="cloud-chip cloud-chip--blue-bg cloud-card__chip">
                    Training
                  </span>
                  <p class="cloud-card__headline cloud-headline5">
                    Networking in Google Cloud hands-on lab
                  </p>
                  <p class="cloud-body-text__small">
                    Set up a load balanced application on Google Cloud.
                  </p>
                </div>
                <div class="cloud-card__footer">
                  <a
                    href="https://www.cloudskillsboost.google/quests/31"
                    class="cloud-button cloud-button--flat"
                    track-type="landingPage"
                    track-name="cardLink"
                    track-metadata-position="1"
                    track-metadata-link-label="Learn more"
                    track-metadata-chip-label="Training"
                    track-metadata-eventdetail="https://www.cloudskillsboost.google/quests/31"
                    track-metadata-modifier="flat"
                    track-metadata-icon="internal"
                    track-metadata-anchor_text="Learn more"
                    track-metadata-href="https://www.cloudskillsboost.google/quests/31"
                  >
                    Learn more
                    <span class="cloud-button__icon--no-wrap"
                      >&nbsp;<i
                        class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                        aria-hidden="true"
                        translate="no"
                        >arrow_forward</i
                      ></span
                    ></a
                  >
                </div>
              </div>
              <div class="cloud-card cloud-elevation-z1">
                <div class="cloud-card__content--has-footer">
                  <span class="cloud-chip cloud-chip--blue-bg cloud-card__chip">
                    Tutorial
                  </span>
                  <p class="cloud-card__headline cloud-headline5">
                    Interactive walkthrough: Create a Linux VM in Compute Engine
                  </p>
                  <p class="cloud-body-text__small">
                    Create a Linux VM by using a tutorial that walks you through
                    the steps directly in the Cloud console.
                  </p>
                </div>
                <div class="cloud-card__footer">
                  <a
                    href="https://console.cloud.google.com/compute/instances?walkthrough_tutorial_id=compute_short_quickstart"
                    class="cloud-button cloud-button--flat"
                    track-type="landingPage"
                    track-name="cardLink"
                    track-metadata-position="2"
                    track-metadata-link-label="Learn more"
                    track-metadata-chip-label="Tutorial"
                    track-metadata-eventdetail="https://console.cloud.google.com/compute/instances?walkthrough_tutorial_id=compute_short_quickstart"
                    track-metadata-modifier="flat"
                    track-metadata-icon="internal"
                    track-metadata-anchor_text="Learn more"
                    track-metadata-href="https://console.cloud.google.com/compute/instances?walkthrough_tutorial_id=compute_short_quickstart"
                  >
                    Learn more
                    <span class="cloud-button__icon--no-wrap"
                      >&nbsp;<i
                        class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                        aria-hidden="true"
                        translate="no"
                        >arrow_forward</i
                      ></span
                    ></a
                  >
                </div>
              </div>
              <div class="cloud-card cloud-elevation-z1">
                <div class="cloud-card__content--has-footer">
                  <span class="cloud-chip cloud-chip--blue-bg cloud-card__chip">
                    Training
                  </span>
                  <p class="cloud-card__headline cloud-headline5">
                    Hosting a web app on Compute Engine hands-on lab
                  </p>
                  <p class="cloud-body-text__small">
                    Learn how to deploy and scale a sample application.
                  </p>
                </div>
                <div class="cloud-card__footer">
                  <a
                    href="https://www.cloudskillsboost.google/focuses/11952?parent=catalog"
                    class="cloud-button cloud-button--flat"
                    track-type="landingPage"
                    track-name="cardLink"
                    track-metadata-position="3"
                    track-metadata-link-label="Learn more"
                    track-metadata-chip-label="Training"
                    track-metadata-eventdetail="https://www.cloudskillsboost.google/focuses/11952?parent=catalog"
                    track-metadata-modifier="flat"
                    track-metadata-icon="internal"
                    track-metadata-anchor_text="Learn more"
                    track-metadata-href="https://www.cloudskillsboost.google/focuses/11952?parent=catalog"
                  >
                    Learn more
                    <span class="cloud-button__icon--no-wrap"
                      >&nbsp;<i
                        class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                        aria-hidden="true"
                        translate="no"
                        >arrow_forward</i
                      ></span
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>
