<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/navbar.css" />
    <link rel="stylesheet" href="../assets/css/articles.css" />
    <title>Ander page</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="container-fluid">
      <div class="row header">
        <div class="col-6">
          <div class="home ms-4 ms-lg-5">
            <h1 class="fs-4">Ander Wang</h1>
<!--            <span>&nbsp;|&nbsp;Back-end Engineer</span>-->
            <ul class="menu mb-0">
              <li><a href="../index.html">About</a></li>
              <li><a href="javascript: scrollToRange(990)">Experiences</a></li>
              <li><a href="javascript: scrollToRange(1799)">Projects</a></li>
              <li><a class="active" href="./views/articles.html">Articles</a></li>
            </ul>
          </div>

        </div>
<!--        <div class="col-6">-->
<!--          <ul class="menu mb-0">-->
<!--            <li><a href="../index.html">About</a></li>-->
<!--            <li><a href="javascript: scrollToRange(990)">Experiences</a></li>-->
<!--            <li><a href="javascript: scrollToRange(1799)">Projects</a></li>-->
<!--            <li><a class="active" href="./views/articles.html">Articles</a></li>-->
<!--          </ul>-->
<!--        </div>-->
      </div>
    </div>
    <div class="height-66px"></div>
    <!-- main content -->
    <div class="devsite-article-body clearfix devsite-no-page-title">
      <article id="cloud-site">
        <cloudx-jump-menu
          label="Compute Engine documentation"
          prebuilt=""
          style="margin-left: 180px;"
        >
          <div class="cloud-menu-content">
            <a href="#" class="cloud-jump-menu__toggle">
              Compute Engine documentation
              <i class="material-icons" aria-hidden="true" translate="no"></i>
            </a>
            <div class="cloud-jump-menu__links">
              <h1
                class="cloud-subhead"
                id="compute-engine-documentation"
                data-text="Compute Engine documentation"
                tabindex="-1"
              >
                Table of Contents
              </h1>
              <div class="cloud-jump-menu__links">
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#docs"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Overview"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Domain Knowledge</div>
                </a>
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#training-and-tutorials"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Training and tutorials"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Best Practices</div>
                </a>
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#use-cases"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Use cases"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Use cases</div>
                </a>
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#code-samples"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Code samples"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Guides</div>
                </a>
                <a
                  track-type="navigation"
                  track-name="leftJumpNav"
                  track-metadata-module="left nav"
                  track-metadata-position="left nav"
                  href="#videos"
                  class="cloud-jump-menu__item"
                  track-metadata-eventdetail="Videos"
                >
                  <div class="cloud-body-text__small cloud-jump-menu__item__main">Readings</div>
                </a>
              </div>
            </div>
          </div>
        </cloudx-jump-menu>
        <div
          class="cloud-jump-content cloud-jump-section"
          id="docs"
          data-cloud-main-text="Overview"
          tabindex="-1"
        >
          <div class="cloud-section cloud-section--no-padding-bottom cloud-section__header--small">
            <div class="page-intro">
              <h2
                class="cloud-jump-section"
                id="training-and-tutorials"
                data-cloud-main-text="Training and tutorials"
                data-text="Training and tutorials"
                tabindex="-1"
              >
                Domain Knowledge
              </h2>
              <p>
                XXXXXXX... blank
              </p>
            </div>
          </div>
          <div class="cloud-section--small cloud-section--no-padding-top hero-section">
            <div class="cloud-grid--alternate cloud-copy__inner cloud-copy--three-column">
              <div class="cloud-grid--alternate cloud-grid--row-gap cloud-grid__col is-12 is-12__large">
                <div class="cloud-grid__col is-6 is-4__large">
                  <div class="cloud-list-card cloud-elevation-z0">
                    <div class="cloud-list-card__content">
                      <div class="cloud-list-card__header-border">
                        <h4 class="cloud-list-card__subhead cloud-body-text" id="guides" data-text="Guides" tabindex="-1">
                          Distributed System
                        </h4>
                      </div>
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/machine-resource"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="0"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/machine-resource"
                            track-metadata-child_headline="Machine families resource and comparison guide"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                Paxos
                              </p>
                            </div>
                          </a>
                        </li>

<!--                        <li class="cloud-list-card__list-item">-->
<!--                          <a-->
<!--                            href="/compute/docs/choose-compute-deployment-option"-->
<!--                            track-type="landingPage"-->
<!--                            track-name="cardLink"-->
<!--                            track-metadata-position="1"-->
<!--                            track-metadata-category="Guides"-->
<!--                            track-metadata-eventdetail="/compute/docs/choose-compute-deployment-option"-->
<!--                            track-metadata-child_headline="Choose a deployment strategy"-->
<!--                            class="cloud-list-card__link"-->
<!--                          >-->
<!--                            <div>-->
<!--                              <p class="cloud-subhead2">-->
<!--                                Choose a deployment strategy-->
<!--                              </p>-->
<!--                            </div>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="cloud-list-card__list-item">-->
<!--                          <a-->
<!--                            href="/compute/docs/instances/create-start-instance"-->
<!--                            track-type="landingPage"-->
<!--                            track-name="cardLink"-->
<!--                            track-metadata-position="2"-->
<!--                            track-metadata-category="Guides"-->
<!--                            track-metadata-eventdetail="/compute/docs/instances/create-start-instance"-->
<!--                            track-metadata-child_headline="Create and start a VM"-->
<!--                            class="cloud-list-card__link"-->
<!--                          >-->
<!--                            <div>-->
<!--                              <p class="cloud-subhead2">-->
<!--                                Create and start a VM-->
<!--                              </p>-->
<!--                            </div>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="cloud-list-card__list-item">-->
<!--                          <a-->
<!--                            href="/compute/docs/instances/ssh"-->
<!--                            track-type="landingPage"-->
<!--                            track-name="cardLink"-->
<!--                            track-metadata-position="3"-->
<!--                            track-metadata-category="Guides"-->
<!--                            track-metadata-eventdetail="/compute/docs/instances/ssh"-->
<!--                            track-metadata-child_headline="About SSH connections"-->
<!--                            class="cloud-list-card__link"-->
<!--                          >-->
<!--                            <div>-->
<!--                              <p class="cloud-subhead2">-->
<!--                                About SSH connections-->
<!--                              </p>-->
<!--                            </div>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="cloud-list-card__list-item">-->
<!--                          <a-->
<!--                            href="/compute/docs/import"-->
<!--                            track-type="landingPage"-->
<!--                            track-name="cardLink"-->
<!--                            track-metadata-position="4"-->
<!--                            track-metadata-category="Guides"-->
<!--                            track-metadata-eventdetail="/compute/docs/import"-->
<!--                            track-metadata-child_headline="Choose a migration path"-->
<!--                            class="cloud-list-card__link"-->
<!--                          >-->
<!--                            <div>-->
<!--                              <p class="cloud-subhead2">-->
<!--                                Choose a migration path-->
<!--                              </p>-->
<!--                            </div>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="cloud-list-card__list-item">-->
<!--                          <a-->
<!--                            href="/compute/docs/disks/data-protection"-->
<!--                            track-type="landingPage"-->
<!--                            track-name="cardLink"-->
<!--                            track-metadata-position="5"-->
<!--                            track-metadata-category="Guides"-->
<!--                            track-metadata-eventdetail="/compute/docs/disks/data-protection"-->
<!--                            track-metadata-child_headline="Data protection options"-->
<!--                            class="cloud-list-card__link"-->
<!--                          >-->
<!--                            <div>-->
<!--                              <p class="cloud-subhead2">-->
<!--                                Data protection options-->
<!--                              </p>-->
<!--                            </div>-->
<!--                          </a>-->
<!--                        </li>-->
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/instances/instance-life-cycle"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="6"
                            track-metadata-category="Guides"
                            track-metadata-eventdetail="/compute/docs/instances/instance-life-cycle"
                            track-metadata-child_headline="VM instance lifecycle"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                Raft
                              </p>
                            </div>
                          </a>
                        </li>
                        <li
                          class="cloud-list-card__list-item cloud-list-card__list-item--static"
                        >
                          <div></div>
                        </li>
                      </ul>
                    </div>
<!--                    <div class="cloud-list-card__footer">-->
<!--                      <ul class="cloud-list-card__list">-->
<!--                        <li class="cloud-list-card__list-item l-pad-left-4">-->
<!--                          <a-->
<!--                            href="/compute/docs/instances"-->
<!--                            class="cloud-button cloud-button&#45;&#45;flat"-->
<!--                            track-type="landingPage"-->
<!--                            track-name="cardLinkMore"-->
<!--                            track-metadata-category="Guides"-->
<!--                            track-metadata-eventdetail="/compute/docs/instances"-->
<!--                            track-metadata-modifier="flat"-->
<!--                            track-metadata-icon="internal"-->
<!--                            track-metadata-anchor_text="More"-->
<!--                            track-metadata-href="/compute/docs/instances"-->
<!--                          >-->
<!--                            More-->
<!--                            <span class="cloud-button__icon&#45;&#45;no-wrap"-->
<!--                              >&nbsp;<i-->
<!--                                class="material-icons notranslate cloud-button__icon cloud-button__icon&#45;&#45;internal"-->
<!--                                aria-hidden="true"-->
<!--                                translate="no"-->
<!--                                >arrow_forward</i-->
<!--                              ></span-->
<!--                            ></a-->
<!--                          >-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
                  </div>
                </div>
                <div class="cloud-grid__col is-6 is-4__large">
                  <div class="cloud-list-card cloud-elevation-z0">
                    <div class="cloud-list-card__content">
                      <div class="cloud-list-card__header-border">
                        <h4
                          class="cloud-list-card__subhead cloud-body-text"
                          id="reference"
                          data-text="Reference"
                          tabindex="-1"
                        >
                          Java
                        </h4>
                      </div>
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/gcloud-compute"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="0"
                            track-metadata-category="Reference"
                            track-metadata-eventdetail="/compute/docs/gcloud-compute"
                            track-metadata-child_headline="gcloud compute command-line tool"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">
                                Concurrency
                              </p>
                            </div>
                          </a>
                        </li>
<!--                        <li class="cloud-list-card__list-item">-->
<!--                          <a-->
<!--                            href="/compute/docs/api/libraries"-->
<!--                            track-type="landingPage"-->
<!--                            track-name="cardLink"-->
<!--                            track-metadata-position="1"-->
<!--                            track-metadata-category="Reference"-->
<!--                            track-metadata-eventdetail="/compute/docs/api/libraries"-->
<!--                            track-metadata-child_headline="Client libraries"-->
<!--                            class="cloud-list-card__link"-->
<!--                          >-->
<!--                            <div>-->
<!--                              <p class="cloud-subhead2">Client libraries</p>-->
<!--                            </div>-->
<!--                          </a>-->
<!--                        </li>-->
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/reference/rest/v1"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="2"
                            track-metadata-category="Reference"
                            track-metadata-eventdetail="/compute/docs/reference/rest/v1/"
                            track-metadata-child_headline="REST API"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Threads</p>
                            </div>
                          </a>
                        </li>
                        <li
                          class="cloud-list-card__list-item cloud-list-card__list-item--static"
                        >
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="cloud-list-card__footer">
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item l-pad-left-4">
                          <a
                            href="/compute/docs/apis"
                            class="cloud-button cloud-button--flat"
                            track-type="landingPage"
                            track-name="cardLinkMore"
                            track-metadata-category="Reference"
                            track-metadata-eventdetail="/compute/docs/apis"
                            track-metadata-modifier="flat"
                            track-metadata-icon="internal"
                            track-metadata-anchor_text="More"
                            track-metadata-href="/compute/docs/apis"
                          >
                            More
                            <span class="cloud-button__icon--no-wrap"
                              >&nbsp;<i
                                class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                                aria-hidden="true"
                                translate="no"
                                >arrow_forward</i
                              ></span
                            ></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cloud-grid__col is-6 is-4__large">
                  <div class="cloud-list-card cloud-elevation-z0">
                    <div class="cloud-list-card__content">
                      <div class="cloud-list-card__header-border">
                        <h4
                          class="cloud-list-card__subhead cloud-body-text"
                          id="resources"
                          data-text="Resources"
                          tabindex="-1"
                        >
                          Scalability
                        </h4>
                      </div>
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/pricing"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="0"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/pricing"
                            track-metadata-child_headline="Pricing"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Write large data to Neo4j</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/quotas"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="1"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/quotas"
                            track-metadata-child_headline="Quotas and limits"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Quotas and limits</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/release-notes"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="2"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/docs/release-notes"
                            track-metadata-child_headline="Release notes"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Release notes</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/support"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="3"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/docs/support"
                            track-metadata-child_headline="Support"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Support</p>
                            </div>
                          </a>
                        </li>
                        <li class="cloud-list-card__list-item">
                          <a
                            href="/compute/docs/samples-and-videos"
                            track-type="landingPage"
                            track-name="cardLink"
                            track-metadata-position="4"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/docs/samples-and-videos"
                            track-metadata-child_headline="Samples &amp; videos"
                            class="cloud-list-card__link"
                          >
                            <div>
                              <p class="cloud-subhead2">Samples &amp; videos</p>
                            </div>
                          </a>
                        </li>
                        <li
                          class="cloud-list-card__list-item cloud-list-card__list-item--static"
                        >
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="cloud-list-card__footer">
                      <ul class="cloud-list-card__list">
                        <li class="cloud-list-card__list-item l-pad-left-4">
                          <a
                            href="/compute/docs/resources"
                            class="cloud-button cloud-button--flat"
                            track-type="landingPage"
                            track-name="cardLinkMore"
                            track-metadata-category="Resources"
                            track-metadata-eventdetail="/compute/docs/resources"
                            track-metadata-modifier="flat"
                            track-metadata-icon="internal"
                            track-metadata-anchor_text="More"
                            track-metadata-href="/compute/docs/resources"
                          >
                            More
                            <span class="cloud-button__icon--no-wrap"
                              >&nbsp;<i
                                class="material-icons notranslate cloud-button__icon cloud-button__icon--internal"
                                aria-hidden="true"
                                translate="no"
                                >arrow_forward</i
                              ></span
                            ></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="cloud-section--small cloud-section--border technical-architectures cloud-section--no-padding-top"
          >
            <h2
              class="cloud-jump-section"
              id="training-and-tutorials"
              data-cloud-main-text="Training and tutorials"
              data-text="Training and tutorials"
              tabindex="-1"
            >
              Best Practices
            </h2>
            <p class="cloud-section__header--xsmall">
              XXXXXXX... blank
            </p>
            <div
              class="cloud-card__container cloud-card__container--3up cloud-card__container--left-aligned"
            >
              <div class="cloud-card cloud-elevation-z1">
                <div class="cloud-card__content--has-footer">
                  <span class="cloud-chip cloud-chip--blue-bg cloud-card__chip">
                    Format
                  </span>
                  <p class="cloud-card__headline cloud-headline5">
                    PPP format
                  </p>
                  <p class="cloud-body-text__small">
                    Provides example of format for updating daily work to manager.
                  </p>
                </div>
              </div>
              <div class="cloud-card cloud-elevation-z1">
                <div class="cloud-card__content--has-footer">
                  <span class="cloud-chip cloud-chip--blue-bg cloud-card__chip">
                    Format
                  </span>
                  <p class="cloud-card__headline cloud-headline5">
                    Software Design Document
                  </p>
                  <p class="cloud-body-text__small">
                    Provides example of format for designing software specification.
                  </p>
                </div>
              </div>
              <div class="cloud-card cloud-elevation-z1">
                <div class="cloud-card__content--has-footer">
                  <span class="cloud-chip cloud-chip--blue-bg cloud-card__chip">
                    Guide
                  </span>
                  <p class="cloud-card__headline cloud-headline5">
                    Technical English Writing
                  </p>
                  <p class="cloud-body-text__small">
                    Lists key points based on Google's guide for technical writing.
                  </p>
                </div>
              </div>
              <div class="cloud-card cloud-elevation-z1">
                <div class="cloud-card__content--has-footer">
                  <span class="cloud-chip cloud-chip--blue-bg cloud-card__chip">
                    Guide
                  </span>
                  <p class="cloud-card__headline cloud-headline5">
                    Resume for software engineer
                  </p>
                  <p class="cloud-body-text__small">
                    Learn how to write a resume for software engineer.
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>
